body.ismobile .content-block .page-container, .content-block .post-container {margin-top: 10px;}
body.ismobile #magazine-head h1 {font-size:4.142857em;margin-top:0}
body.ismobile #magazine-head h2 {font-size:1.142857em; text-align:center;margin-top:0;}
body.ismobile #magazine-head {margin-top:0;border-top:1px solid #e5e5e5;}
body.ismobile #category-menu ul>li>a {padding:0;display:block;font-size:10.9285em;line-height:1em;}
body.ismobile #home-col-video {border-bottom:1px solid #e5e5e5;}
